{{~#unless this.renderFloatingElement}}
  <wbr hidden {{did-insert this.onParentFinderInsert}} {{did-update this.onIsShownChange this.isShown}}/>
{{~/unless~}}

{{~#if this.renderFloatingElement}}
  {{#in-element this._floatingElementContainer insertBefore=null}}
    <div
      class="ember-attacher"
      id={{this.id}}
      role={{this.ariaRole}}
      {{did-insert this.didInsertFloatingElement}}
      {{did-update this.onIsShownChange this.isShown}}
      {{did-update this.onExplicitTargetChange @explicitTarget}}
      {{did-update this.onOptionsChange this.autoUpdate this.animation this.arrow this.useCapture this.placement this._renderInPlace this._currentTarget this._middleware}}
      {{will-destroy this.willDestroyFloatingElement}}
      ...attributes
    >
      <div class={{this._class}} style={{this._style}}>
        {{yield (hash hide=(action 'hide'))}}
        {{#if this.arrow}}
          <div x-arrow {{did-insert this.didInsertArrow}}></div>
        {{/if}}
        {{#if this.isFillAnimation}}
          <div x-circle style="{{this._circleTransitionDuration}}"></div>
        {{/if}}
      </div>
    </div>
  {{/in-element}}
{{~/if~}}
