{{unbound this._parentFinder}}

{{~#if (and this._currentTarget (or (not this.lazyRender) this._mustRender))}}
  {{~#ember-popper ariaRole=this.ariaRole
                  class="ember-attacher"
                  eventsEnabled=false
                  id=this.id
                  modifiers=this._modifiers
                  onCreate=onCreate
                  onUpdate=onUpdate
                  placement=this.placement
                  popperContainer=this.popperContainer
                  popperTarget=this._currentTarget
                  registerAPI=(action '_registerAPI')
                  renderInPlace=this.renderInPlace as |emberPopper|~}}
    <div class="{{this._class}}" style="{{this._style}}">
      {{yield (hash emberPopper=emberPopper hide=(action 'hide'))}}

      {{#if this.arrow}}
        <div x-arrow></div>
      {{/if}}
      {{#if (eq this.animation 'fill')}}
        <div x-circle style="{{this._circleTransitionDuration}}"></div>
      {{/if}}
    </div>
  {{~/ember-popper}}
{{~/if~}}
