{{~#unless this.renderFloatingElement}}
  <meta hidden {{this.onParentFinderInsert}} {{this.onIsShownChange this.isShown}}/>
{{~/unless~}}

{{~#if this.renderFloatingElement~}}
  <MaybeInElement @destinationElement={{this._floatingElementContainer}} @renderInPlace={{@renderInPlace}}>
    <div
      class="ember-attacher"
      id={{this.id}}
      role={{this.ariaRole}}
      {{this.onIsShownChange this.isShown}}
      {{this.onTargetOrTriggerChange this.hideOn this.showOn @explicitTarget}}
      {{this.onOptionsChange this.arrow this.useCapture this.autoUpdate this.animation this.placement this._renderInPlace this._currentTarget this._middleware}}
      {{this.initializeAttacher}}
      ...attributes
    >
      <div class={{this._class}} style={{this._style}}>
        {{yield (hash hide=this.hide)}}
        {{#if this.arrow}}
          <div x-arrow {{this.didInsertArrow}}></div>
        {{/if}}
        {{#if this.isFillAnimation}}
          <div x-circle style="{{this._circleTransitionDuration}}"></div>
        {{/if}}
      </div>
    </div>
  </MaybeInElement>
{{~/if~}}
